@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 400px;
  --breakpoint-xxsm: 450px;
  --breakpoint-xsm: 575px;
  --breakpoint-xxl: 90rem;
  --breakpoint-3xl: 125rem;
}

:root {
  font-family: "Oswald", sans-serif;
  /* background-color: #E1E2E1; */
  background-color: #ffffff;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}
.font-anton {
  font-family: 'Anton', sans-serif;
}
.font-oswald {
  font-family: 'Oswald', sans-serif;
} 
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Sliding background animation for button */
.btn-slide-bg {
  position: relative;
  overflow: hidden;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 18)); /* Width of 6 cards */
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.bg-image {
  background: url('/bg-image-1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-slide-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #111111;
  transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.btn-slide-bg:hover::before,
.btn-slide-bg:focus::before {
  right: 0;
}

/* Fade-in-up animation */
.animate-fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.clip-path-mypointer {
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}